.col{
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid rgb(5, 5, 5);
    color: #fff;
    text-align: center;
}

.row-l{
    border: 2px solid rgb(5, 5, 5);
}

.row-hn{
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid rgb(5, 5, 5);
    color: #fff;
    text-align: center;
}

.col-blank{
    padding: 1rem;
    background-color: #fff;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}