<table>
	<tr>
        <td>&nbsp;</td>
		<td>Hispanic</td>
		<td>American Indian or Alaska Native</td>
        <td>Black or African American</td>
        <td>Asian</td>
        <td>American Indian or Alaska Native</td>
        <td>White</td>
        <td>No RMO</td>
	</tr>
	<tr *ngFor="let item of data">
        <td>{{item.ename}}</td>
		<td><app-single-demographic-female-male></app-single-demographic-female-male></td>
		<td><app-single-demographic-female-male></app-single-demographic-female-male></td>
        <td><app-single-demographic-female-male></app-single-demographic-female-male></td>
        <td><app-single-demographic-female-male></app-single-demographic-female-male></td>
        <td><app-single-demographic-female-male></app-single-demographic-female-male></td>
        <td><app-single-demographic-female-male></app-single-demographic-female-male></td>
        <td><app-single-demographic-female-male></app-single-demographic-female-male></td>
	</tr>
</table>