<div>
  <div id="content">
    <div>
      <mat-tab-group>
        <mat-tab label="1. Composition">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                Organization : Agency
              </div>
              <div class="col-md-6">
                Data Entry : Composition
              </div>
            </div>
            <div class="row">
              <div class="col-xs-9">Pay Plan & Grade</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <app-demographic-header></app-demographic-header>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="2. Hires">
          2. Hires
        </mat-tab>
        <mat-tab label="3. Promotions">
          3. Promotions
        </mat-tab>
        <mat-tab label="4. Attrition">
          4. Attrition
        </mat-tab>
        <mat-tab label="5. Managers-Supervisors">
          5. Managers-Supervisors
        </mat-tab>
        <mat-tab label="6. Managers-Supervisors">
          6. Monetary Awards
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>