<div>
    <div class="row">
      <div class="col-sm-6">
       
          <input class="form-control" type="text" name="female-value" required=""
            placeholder="Female" />
        
      </div>
     <div class="col-sm-6">
        
          <input class="form-control" type="text" name="male-value" required=""
            placeholder="Male" />
      
     </div>
    </div>
</div>